.main_width {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-family: "ralewayregular";
    padding: 15px 0px;
    position: relative;
}




/* Panel górny */

header {
    width: 100%;
    background-color: black;
    height: 50px;
}

.logo {
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.green_letters {
    color: #24ba9f;
    font-family: "ralewaybold";
}

.navigation {
    float: right;
}

li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

#about {
    padding: 0 0 150px 0;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}






/* Rozwijane menu dla zakładki "O firmie" */

.navigation_dropdown {
    display: none;
    position: absolute;
    background-color: black; 
    left: -20px;
    top: 50px;
    z-index: 1;
    width: 130px;
    padding-top: 10px
}

.navigation_dropdown_pointer {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid black;
    position: absolute;
    top: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navigation_dropdown a {
    text-transform: none;
    display: block;
    margin: 10px 15px;
    font-weight: normal;
}

#about:hover .navigation_dropdown {
    display: block;
}



/* Część główna strony */

.main {
    width: 100%;
    height: 600px;
    padding-top: 80px;
    background: rgba(255,252,255,1);
    background: -moz-linear-gradient(top, rgba(255,252,255,1) 0%, rgba(201,201,201,1) 99%, rgba(245,242,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,252,255,1)), color-stop(99%, rgba(201,201,201,1)), color-stop(100%, rgba(245,242,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,252,255,1) 0%, rgba(201,201,201,1) 99%, rgba(245,242,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,252,255,1) 0%, rgba(201,201,201,1) 99%, rgba(245,242,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,252,255,1) 0%, rgba(201,201,201,1) 99%, rgba(245,242,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,252,255,1) 0%, rgba(201,201,201,1) 99%, rgba(245,242,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcff', endColorstr='#f5f2f5', GradientType=0 );
}

.section_nav {
    position: absolute;
    margin: 140px auto;   
}

.main_content {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    width: 1000px;
    margin: auto;
}

.section_image {
    background-image: url("../images/black_chair.png");
    display: inline-block;
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
}

.section_txt {
    display: inline-block;
    width: 460px;
    height: 350px;
    position: absolute;
    bottom: 40px;
    text-align: center;
    margin-left: 50px;
}

.main h1 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: bold;
}

.main p {
    margin-top: 30px;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1.05em;
}

.main a {
    color: #24ba9f;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 86px;
}

.section_txt a {
    background-color: #24ba9f;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 26px;
    display: block;
    padding: 17px 0 10px 0;
    margin: 50px auto 0 auto;
    width: 300px;
    border-radius: 10px;
}

.section_nav:last-child {
    right: 0;
}





/* Artykuł */

#article_Clair, #article_Margarita {
    width: 380px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
}

article {
    position: relative;
    margin-top: 20px;
    height: 300px
}

#article_Clair  {
    background-image: url("../images/box1_img.jpg");
}

#article_Margarita {
    background-image: url("../images/box2_img.jpg");
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.image_label {
    width: 100%;
    height: 70px;
    margin-top: 170px;
    background-color: rgba(250, 250, 250, 0.3);
    font-family: "ralewaybold";
    padding: 15px;
}

.image_label span {
    text-transform: uppercase;
}

.underline_short {
    background-color: #24ba9f;
    height: 7px;
    width: 140px;
}

.article_txt {
    width: 380px;
    height: 280px;
    display: inline-block;
    position: absolute;
    right: 0;
    border: 2px solid lightgrey;
    line-height: 1.6em;
    padding: 30px 20px;
    font-size: 14px;
}

.article_txt h1 {
    font-family: "ralewaybold";
    font-size: 16px;
}

.article_txt p:nth-child(3) {
    margin-top: 20px;
}





/* Sekcja z cennikiem */

.prices {
    text-transform: uppercase;
    color: grey;
    background-color: #f1f1f1;
    margin-top: 80px;
    font-size: 20px;
    position: relative;
    height: 850px;
}

.prices p, .contact p {
    font-weight: bold;
}

.underline_long {
    background-color: #24ba9f;
    height: 7px;
    width: 360px;
    margin: 4px 0 0 0;
}

.price_container {
    width: 370px;
    height: 600px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    margin: 100px 0 0 0;
}

.grey {
    background-color: #fafafa;
    border: 4px solid lightgrey;
    color: #24ba9f;
}

.green {
    background-color: #24ba9f;
    left: 0;
    right: 0;
    margin: 100px auto;
    color: white;
    border: 4px solid #24ba9f;
}

.prices .main_width div:last-child {
    right: 0;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 145px;
}

.white {
    background-color: white;
    box-size: content-box;
    border: 20px solid #24ba9f;
}

.darkgrey {
    background-color: darkgrey;
    border: 20px solid white;
    box-shadow: 0 0 0 4px lightgrey;
}

.price_container h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.grey h2 {
    font-weight: bold;
    font-size: 26px;
}

.price {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
    border-radius: 50%;
    background-color: white; 
}

.price + table {
    margin: 200px auto 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
}

.pricetag {
    text-align: center;
    font-family: "ralewaybold";
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.price_grey {
    color: #AAAAAA;
}

.price_green {
    color: #24ba9f;
}

.pricetag span {
    font-size: 20px;
    vertical-align: top;
}

.pricetag p {
    font-family: "ralewayregular";
    font-size: 20px;
}

td {
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: white;
    color: #AAAAAA;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #AAAAAA;
}

.grey tr:nth-child(odd) {
    background-color: #DDDDDD;
    color: #666666;
}

.grey tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #444444;
}

.join_button {
    text-decoration: none;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    width: 160px;
    bottom: 20px;
    margin: 0 auto;
}

.white_button {
    background-color: white;
    left: 0;
    right: 0;
    color: #24ba9f;
    border: 4px solid white;
    font-weight: bold;
}



/* Formularz kontaktowy */


.contact {
    text-transform: uppercase;
    color: grey;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    height: 650px;
}

.msg input, textarea {
    font-family: "ralewaythin";
    width: 100%;
    margin: auto 0;
    font-size: 32px;
    font-weight: bold;
    padding: 12px 10px;
    line-height: 1.5em;
    border: 1px solid #DDDDDD;
}

::-webkit-input-placeholder {
    color: #DDDDDD;
}

:-moz-placeholder {
   color: #DDDDDD;
   opacity: 1;
}

::-moz-placeholder {
   color: #DDDDDD;
   opacity:  1;
}

:-ms-input-placeholder {
   color: #DDDDDD;
}

textarea {
    resize: none;
    bottom: 0;
}

.msg, .submit {
    height: 408px;
    display: inline-block;
    margin: 40px 0 0 0;
}

.msg {
    width: 750px;
}

.msg input:nth-child(2) {
    margin: 20px auto;
}

.submit {
    width: 400px;
    float: right;
    position: relative;
}

#redChair {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 230px;
    top: -40px;
}




/* Projekt checkboxa z działającym znacznikiem. Problemy: 
- nie da się zmienić rozmiaru znacznika; 
- nie da się otoczyć go ramką;


.data {
    display: inline-block;
    position: absolute;
    bottom: 100px;
}

input[type=checkbox].css-checkbox {
    position: absolute; 
    z-index: -1000; 
    left: -1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; margin: -1px; 
    padding: 0; 
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 53px;
    height: 80px; 
    display: inline-block;
    line-height:40px;
    background-repeat:no-repeat;
    background-position: 0 -20px;
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    text-transform: none; 
    color: #DDDDDD;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -80px;
}
						
label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_35e5be9c8e70b73b346cf79eec57aea1.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}
*/

#tick {
    width: 55px;
    height: 55px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 120px;
}

#tick img {
    margin: 8px 4px 0 0;
}

.submit span {
    text-transform: none;
    color: #DDDDDD;
    position: absolute;
    bottom: 120px;
    width: 350px;
    left: 70px;
    font-size: 22px;
}

.submit input[type="submit"] {
    background-color: #24ba9f;
    color: white;
    font-family: "ralewayregular";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    font-size: 35px;
}



/* Stopka */

footer p {
    color: lightgrey;
    font-weight: bold;
    display: inline-block;
}

footer p:nth-child(2) {
    text-transform: uppercase;
    float: right;
}

footer p span {
    font-family: "ralewaybold";
    color: #BBBBBB;
}

.social {
    position: absolute;
    bottom: 7px;
    right: 200px;
    display: inline-block;
}